name: Build Project CI
on:
  workflow_dispatch:
  push:
    branches: 
    - release/*
    - feature/*
    - team/*
  pull_request:
    branches: 
    - develop
    - QA
    - main
jobs:
  Dependencies:    
    runs-on: ubuntu-latest
    steps:
      - name: Get Code
        uses: actions/checkout@v3
      - name: Install NodeJS
        uses: actions/setup-node@v3
        with:
          node-version: 18
      - name: Install dependencies
        run: npm ci
  Sonar:
    needs: Dependencies
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v4
      with:
        fetch-depth: 0
    - name: SonarCloud Scan
      uses: SonarSource/sonarcloud-github-action@v2.2.0
      env:
        SONAR_TOKEN: ${{ secrets.SONAR_TOKEN }}
  Build:
    needs: Sonar    
    runs-on: ubuntu-latest
    steps:
      - name: Build Project
        run: npm run build
      - name: Build Docker Container  
        run: docker build .

        
